<% if(success && success.length){ %>      <!-- success length should not be zero , if we don't give success length,then flash msg will not be printed -->
<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
<%}%>