<footer>
    <div class=" f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-links">
            <div class="copyright">&copy; WanderLust Private Limited</div>
            <br>
            <a>Privacy</a>
            <a>terms</a>
        </div>
    </div>
    
   
</footer>