<% layout ("/layouts/boilerPlate") %>
<h3>Create a New Listing</h3>
<div class="row">
  <div class="col-8 offset">
    <form action="/listings" method="POST" novalidate class="needs-validation"  enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
        <div class="valid-feedback">everything is right</div>
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image Link: </label>
        <input name="listing[image]" type="file" class="form-control"/>
        <div class="invalid-feedback"> Please enter a valid URL/Link</div>
      </div> 
      
      <div class="mb-3">
        <label for="price" class="form-label">Price: </label>
        <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required/>
      </div>
      <div class="invalid-feedback">please enter a valid price</div>
      
      <div class="mb-3">
        <label for="location" class="form-label">Location: </label>
        <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country: </label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
      </div>

      <button class="btn btn-dark add-btn">Add</button>
    </form>
  </div>
</div>