<% layout ("/layouts/boilerPlate") %>
<h3>Create a New Listing</h3>
<div class="row">
  <div class="col-8 offset">
    <form method="POST" action="/listings" noValidate class="needs-validation">
      <div class="mb-3"><label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required></div>
        <div class="valid-feedback">everything is right</div>
      
      <br>
      <div class="mb-3"><label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea></div>
      
      <br>
      <div class="mb-3"><label for="image" class="form-label">Image URL</label>
        <input name="listing[image]" placeholder="enter image url" type="text" class="form-control" required>
      
      <br>
      <div class="mb-3">
        <label for="price" class="form-label">price</label>
        <input name="listing[price]" placeholder="enter price" type="number" class="form-control" required>
      </div>
      <div class="invalid-feedback">please enter a valid price</div>
      
      <br>
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required>
      </div>
      <br>
      <div class="mb-3">
        <label for="country" class="form-label">country</label>
        <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required>
      </div>
      
      <br>
      <button class="btn btn-dark add-btn">add</button>
    </form>
    <br><br>
  </div>
  </div>